
<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
   
<div id="age-verification" style="display: block;">

        <video id="videoBG" autoplay loop muted>

<source src="images/goldmotion.mp4" type="video/mp4">
</video>


    <div class="age-verification-main">
        <span id="logoLogin" class="logo">Willkommen bei Voonderbar!</span>
        <br>
        <br>
        <span class="age-title">Are you 21 or older?</span>
        <span class="age-main-text">This product has intoxicating effects and may be habit forming. Marijuana can impair concentration, coordination, and judgment. Do not operate a vehicle or machinery under the influence of this drug. There may be health risks associated with consumption of this product. For use only by adults twenty-one and older. Keep out of the reach of children. Marijuana products may be purchased by persons twenty-one years of age or older. WAC 314-55-155(5)</span>
        <br>
            <button id="ageyes" class="age-button age-yes"><a href="/login">I am over 21</a></button>
            <button id="ageno" class="age-button age-no"><a href="https://google.com">Exit</a></button>
    </div>
</div>
</div>