<h1>SIGNUP</h1>

<form action="/signup"method="POST">
    <input type="text" name = "name" placeholder="Username">
    <input type="password" name = "password" placeholder="password" >
    <input type="submit" value="Go Go go!">
</form>

<a href="/login">Already a User? login here</a>